body {
  height: auto;
  width: auto;
  text-align: center;
}

nav a {
  background-color: rgba(187, 187, 187, 1);
}

.center {
  margin: auto;
  width: 90%;
}

figure {
  width: 100%;
  margin: 10px 0;
}

p {
  margin: 10px 10%;
  font-size: 14px;
}
#details {


}

div {
  float: left;
  background-color: red;
  width: 25%;
}